# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Eclipse template

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

.idea/
api-impl/officedict.api-impl.iml
api-impl/target/
api/officedict.api.iml
api/target/
common/officedict.common.iml
common/target/
core-model/officedict.core-model.iml
core-model/target/
core-service/officedict.core-service.iml
core-service/target/
dao/officedict.dao.iml
dao/target/
deploy-config/officedict.deploy-config.iml
deploy-config/target/
deploy/officedict.deploy.iml
deploy/target/
parent.iml
*.iml
*/target
.logs
dao/src/main/java/com/toutiao/agent/dao/entity/temp/
dao/src/main/java/com/toutiao/agent/dao/mapper/temp/
dao/src/main/resources/mapper/temp/
